@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("hogwarts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.container .card {
    width: 40vw;
    height: 400px;
    max-resolution: 30px;
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid rgb(125, 111, 111, 0.5);
    backdrop-filter: blur(4px);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.text_field{
    width: 80%;
    height: 35px;
    padding: 10px;
    box-sizing: 5px;
    border: none;
    margin: 10px auto 10px;
    font-size: 12px;
}

/* .content input:focus{
    outline: none;
} */

.content h1{
    /* color: rgb(0, 0, 0); */
    text-shadow: 1px 0px 3px black;
    font-size: 1.5srem;
    margin-bottom: 20px;
}

.form-input button {
    width: 125px;
    background: rgba(255, 255, 255, 0);
    border: none;
    border: 1px solid rgb(2, 2, 2, 0.5);
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px auto 10px;

}

.form-input button:hover {
    background: rgba(233, 174, 55, 0.8);

}